<div class="main-container">
  <div class="form-container">
    <form [formGroup]="questionForm">
      <div class="first-level-container">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Question
          </mat-label>
          <input matInput formControlName="question" required>
          <mat-error *ngIf="questionForm.controls.question.touched && questionForm.controls.question.invalid">
            <span *ngIf="questionForm.controls.question.errors.required">This field is mandatory.</span>
            <span *ngIf="questionForm.controls.question.errors.pattern">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="options-form" [formGroup]="questionForm">
        <ng-container formArrayName="options">
          <ng-container *ngFor="let option of options?.controls ; let i=index">
            <div [formGroupName]="i">
              <div class="option-row">
                <mat-form-field appearance=fill>
                  <mat-label>
                    Option
                  </mat-label>
                  <input matInput formControlName="option" required>
                  <mat-error *ngIf="options.controls[i].touched && options.controls[i].invalid">
                    <span *ngIf="options.controls[i].errors?.maxlength">Answer can be max 80 characters</span>
                  </mat-error>
                </mat-form-field>
                <ng-container *ngIf="i > 0">
                  <button mat-icon-button *ngIf="!isOptionAdded else removeButton" (click)="addOption()"
                    [disabled]="options.controls[i].invalid">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </form>
  </div>
  <div>{{getOptionsValue().length}}/10 possible answers</div>
</div>

<ng-template #removeButton>
  <button mat-icon-button [disabled]="!(getOptionsValue().length > 2)" (click)="removeOption(i)">
    <mat-icon class="delete-btn">remove_circle</mat-icon>
  </button>
</ng-template>