form {
  max-width: 600px;

  .first-level-container {
    display: flex;
    justify-content: space-between;
  }

  .options-container {
    .option {
      display: flex;
      justify-content: space-between;
    }
  }
}

mat-form-field {
  width: 80%;
}

.controls-container {
  position: relative;
  margin-top: 100%;

  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
