.components-container {
  display: flex;
  height: calc(100vh - 64px);
}

app-create-poll,
app-voting {
  border-right: 2px solid gray;
}

app-create-poll,
app-voting,
app-results {
  padding: 30px;
  width: 33%;
}
